<!--
    anropas från view Detail i mappen Product

    "at-symbol"  anger början på C#-kod
    model anger vilken klass eller viewModel som beskriver innehållet

    partial view för commentary-klassen
    anropas med hjälp av TagHelpers från annan html-kod
-->
@model Commentary
<!-- Model med stor bokstav här                                       -->
<div>
    <h4>@Model.Text</h4>
</div>
